@charset "UTF-8";

:root {

    --sombra: 3px 4px 1px 2px black;
    --cor01: rgb(255, 0, 0);
    --cor02:  aliceblue;

   


}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body {

    background-color: var(--cor02);
    


}

header {
    background-color: var(--cor01);
    text-align: center;
    align-content: center;
    height: 100px;
    box-shadow: var(--sombra);
    margin: 30px;

}
header > h1{
    font-size: 5vw;
}

h1 {
    font-size: 3vw;

}

a {
    text-decoration: none;
    color: black;

}
div>a{

    display: block;
   

    text-decoration: none;
    color: black;
    
    width: 200px;
    height: 70px;

}

p{
    font-size: 3vw;
    padding: 5px;
}

.index_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;   

}

.foto_perfil{

    display: flex;

    background-color: var(--cor02);
    box-shadow: var(--sombra);

    margin-right: 30px;
    margin-left: 30px;


    min-width: 200px;
    min-height: 200px;

    border-radius: 50%;
 
}
.index_barra_menu{
    
    background-color: var(--cor01);
    box-shadow: var(--sombra);

    display: flex;
    align-items: center;
    justify-content: space-between;

    width:1500px;
    height: 150px;

    margin-right: 30px;
    margin-left: 30px;
    
    margin-bottom: 25px;

   
}
.barra_menu{
    
    background-color: var(--cor01);
    box-shadow: var(--sombra);
    display: flex
;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 400px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
    flex-direction: column-reverse;

}

.barrinha {

    display: flex;
    
    border-style: solid ;
    border-width: 1.5px;
    
    text-decoration: none;
    background-color: var(--cor01);
    box-shadow: var(--sombra);
   
    max-width:200px;
    min-width: 50px;

    margin-right: 30px;
    margin-left: 30px;
   
    height: 70px;
    
    margin-bottom: 10px;

}
.barrinha>:hover{
    background-color: var(--cor02);
    border: 1.5px solid rgba(0, 0, 0, 0.547);
    transform: translate(-5px, -3px);/*faz comque o botão se mova qiuando passa o mause em cima*/
    box-shadow: var(--sombra);
    transition: transform 1s;/*é o tempo para que a função transform realize o trabalho(efeito de lentidão)*/
}

.pesquisa {}

main {
    display: flex;
}


.principal {
    background-color: var(--cor01);
    box-shadow: var(--sombra);
    height: auto;

    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

    padding: 20px;

}
.principal_perfil{

    background-color: var(--cor01);
    box-shadow: var(--sombra);
    height: 80vw;

    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

    padding: 20px;

}
.postagem{
    background-color:var(--cor02);
    box-shadow: var(--sombra);

    text-align: center;

    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.conteudo {

    background-color:var(--cor02);
    box-shadow: var(--sombra);
    text-align: justify;

    padding: 5px;

    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /*  overflow: auto;  coloca a barra de rolagem no texto da div conteudo*/
    box-sizing: border-box;
   
}
.conteudo_perfil{

    background-color:var(--cor02);
    box-shadow: var(--sombra);
    text-align: justify;

    padding: 5px;

    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /*  overflow: auto;  coloca a barra de rolagem no texto da div conteudo*/
    box-sizing: border-box;

}

.secundaria {

display: none;


}
.secundaria_perfil{
    display: none;
  
}


footer {
    text-align: center;
    background-color: var(--cor01);


}